h1{
    color: black;
    font-weight: 15px;
    font-size: 90px;
    padding : 30px;
    padding-top : 250px;
    padding-bottom : 300px;
    background-color: #0093E9;
    background-color: #292325;
    background-image: linear-gradient(0deg, #530821 0%, #750f3a 100%);
    font-family: 'Fira Sans', sans-serif;
}
h2{
    font-family: 'Baloo', cursive;
    color:rgb(26, 167, 26);

}
.everything{
    align-items: center;
}
.cards{
    border: 1px solid rgb(10, 9, 9);
    margin: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 0px;
    border-left: 0px;
    box-shadow: 1px 3px 3px 20px solid rgb(109, 105, 105);

}
.btn{
    border: 2px solid rgb(187, 97, 70);
    color:rgb(199, 134, 59);
    
}
.btn1{
    border: 2px solid orange;
    color: rgb(49, 197, 81);
    
}
.btn2{
    border: 2px solid rgb(182, 50, 131);
    color:rgb(151, 228, 151);
    
}
.btn:hover{
    background-color : blue;
    color:rgb(114, 56, 56);
    width: 10%;
}
.container_fluid{
    background-color: rgb(194, 48, 199);
}
body {
    background-color: orange;
}