{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block styles %}
{{super()}}
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
        {% endblock %}
<!-- Content block -->
{% block content %}
​
<div class="everything text-center">
<div class="container-fluid">
    <div class="row">
        <div class="col-6-md">
           <h1 class="text-center">WELCOME TO NEWS ARTICLES</h1>
               
                <h2 class="title">General</h2>
                {% for general_news in general %}
                <div class="cards">       
                    <h4 class="card-title h4 mb-4">{{general_news.name}}</h4>  
                    <a href="/article/{{general_news.id}}" class="btn" target="_blank" >
                        Go there  </a>
                </div>          
                {% endfor %}
            
        
                <!---sports news-->
                <h2 class="title"> Sports news</h2>
                {% for sports_news in sports %}
​
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                      <h5 class="card-title">Sport news</h5>
                      <h6 class="title2">{{  sports_news.name}}</h6>
                      
                      <a href="/article/{{sports_news.id}}" class="btn" target="_blank" style="color: aqua;">GO there</a>
                    </div>
                  </div>
                
                
            {% endfor %}
            <br>
​
                 <!---Business news-->
                <h2 class="title"> Business news</h2>
                {% for business_news in business %}
                <div class="cards">
                    <h4 class="title3">{{  business_news.name}}</h4>
​
                        <a href="/article/{{business_news.id}}" class="btn" target="_blank" style="color: green">
                            Go there  
                        </a>
                </div>
            {% endfor %}
            <br>
                <!---Technology news--->
                <h2> Technology news</h2>
                {% for technology_news in technology %}
                <div class="cards">
                    <h4>{{  technology_news.name}}</h4>
                    
                    <a href="/article/{{technology_news.id}}" target="_blank" style="color: blue;">
                        Go there  
                    </a>
                </div>
            {% endfor %}
            <br>
​
           
            {% endblock %}
        </div>
    </div>
</div>
</div>